#preloader {

    position: absolute;

    width: 100%;
    z-index: 1000;

    >div {

        svg {
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 100%;

            .hidden {
                display: none;
            }

            .top-of-hat {
                display: none;
            }

            .stroke-1 {
                display: none;
            }

            .stroke-2 {
                display: none;
            }

            .bottom-of-hat {
                display: none;
            }


        }

    }
}